*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'DMSans';
    src: url("DMSans-VariableFont.ttf") format("truetype");
}

body{
    background-color: #171717;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: 'DMSans', sans-serif;
}

#fitToContainer{
    overflow: hidden;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

#main h2{
    font-size: medium;
    opacity: 0;
    height: 0px;
    animation: fadeIn 1s 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

#topBanner{
    position: fixed;
    background-color: black;
    top: -100px;
    width: 115vw;
    height: 25vh;
    transform: rotate(-5deg) translate(-5vw, 0px);
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    z-index: -1;
    overflow: hidden;
}

#leave #topBanner{
    animation: topBannerHide 1s forwards ease-in;
}

@keyframes topBannerHide {
    0% {
        top: -100px;
    }
    100% {
        top: -500px;
    }
}

#topBanner img{
    height: 100%;
    aspect-ratio: 16/9;
    border-radius: 25px;
    transform: translate(0px, 0px);
    animation: slide 5s infinite linear;
    position: relative;
}

#bottomBanner{
    position: fixed;
    background-color: black;
    bottom: -100px;
    width: 115vw;
    height: 25vh;
    transform: rotate(-5deg) translate(-5vw, 0px);
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    z-index: -1;
    overflow: hidden;
}

#leave #bottomBanner{
    animation: bottomBannerHide 1s forwards ease-in;
}

@keyframes bottomBannerHide {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: -500px;
    }
}

#bottomBanner img{
    height: 100%;
    aspect-ratio: 16/9;
    border-radius: 25px;
    transform: translate(0px, 0px);
    animation: slide 5s infinite linear reverse;
    position: relative;
}

@keyframes slide {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(calc((100% + 25px)*3), 0px);
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#leave #cta{
    animation: fadeOut 1s forwards ease-in;
}